/* Get rid of the default margin that the browser does */
body {
    margin:0;
    font-family:"Roboto", "Arial", sans-serif;
    background-color: #580000;
    color: #c1f5c1;
    font-size: 20px;
}

h1{
    font-size: 50px;
    color: #1bb01b;
}


/* Target the <ul> element in the navigation div */
#navigation ul{
    /* get rid of bulletpoints */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow is clipped and elements cant overflow */
    overflow: hidden;
    /* colour of the background */
    background-color: #8b0000;
    /* position is always in place */
    position: fixed;
    top: 0;
    /* takes 100% of the browser's page */
    width: 100%;
    /* adds a border */
    border-bottom: 5px solid #ffb2b2;
}

/* Target all of the <li> elements in the navigation div */
#navigation li{
    /* position all of the li elements to the left */
    float: left;
}

/* Target all the <a> elements in the <li> in the navigation div */
#navigation li a{
    /* Display this as a block */
    display: block;
    /* All text is white */
    color: white;
    /* align the text to be in the center */
    text-align: center;
    /* add some white space around */
    padding: 24px 50px;
    /* get rid of the link underline */
    text-decoration: none;
}

#navigation a:hover {
  background-color: #ff8b8b;
}

#navigation a.active {
  background-color: #9f0000;
  color: white;
}

/* Main container */
.container{
    /* set to be the full size of the browser page */
    width: 85%;
    height: 100%;
    /* move a 100px down from the top margin */
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* Image div */
#image{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    
}

#image img{
    border-radius: 50%;
}

/* Main text div */
#main{
    /* Change the size to be automatic which is reflected on the block before it (image) */
    width: auto;
}

.icon {
    padding: 30px;
    font-size: 50px;
    text-decoration: none;
    color: #008000;
}